@charset "utf-8";

:root {
    --cor0:#F2B705;
    --cor1:#F28705;
    --cor2:#F25C05;
    --cor3:#A62F03;
    --cor4:#260101;
    
}

*  {
    margin: 0px;
    padding:0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    text-align: center;
    color: white;
    min-height: 60px;
    padding-top: 20px;
}
nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.486);    
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}
nav a:hover {
    background-color: var(--cor2);
    color: var(--cor4)
}
main{
    background-color: white;
    min-height: 500px;
    max-width: 1050px;
    margin:auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 45px;
}
main h1 {
    color: var(--cor2);
    font-size: 50px;
    
}
div {
    display: inline-block;
    width: 330px;
    height: 186px;
    background-color: black;
}
#div1:hover {
    content: img;
    
}